@import 'tailwindcss';
@source "../../packages/ui/src";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #0f172a;
  --foreground: #f9fafb;
}

body {
  @apply bg-(--background) text-(--foreground);
}
