# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*

# Logs
logs
*.log

# OS files
.DS_Store

# VS Code
.vscode/

# Sanity
.sanity/
sanity/node_modules/
sanity/.env
sanity/.env.*

# Runner-app
ios/App/Pods/
ios/App/App.xcworkspace/
ios/App/build/