@import 'tailwindcss';
@import '@dhl-relay/ui/src/theme.css';
@source "../../packages/ui/src";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-gray);
  line-height: 1.2;
}
